  <div class="banner container-fluid d-flex justify-content-center align-items-center">
    <div class="text-center">
      <h1 class="text-white text-center">LISTS DIRECTORY</h1>
      <h3 class="text-white">Just watch the movie, already</h3>
      <%= link_to '+ Create a New List', new_list_path, class:"btn btn-outline-light mt-2" %>
    </div>
  </div>
<%# <div class="container my-5 bg-transparent px-0"> %>


  <div class="row m-0 g-2 mx-0 justify-content-center my-5">

    <% @lists.each do |list| %>
      <div class="card m-0 p-0 mx-1 my-1 bg-white" style="width: 380px">
      <div class="image-top d-flex justify-content-center mx-0">
        <%= cl_image_tag list.photo.key, height: 200, width: 380, crop: :fill %>
      </div>
        <div class="card-body d-flex justify-content-between">
        <%= link_to list_path(list) do%>
        <%= list.name %>
        <% end %>
        <%= link_to list_path(list),
            method: :delete,
            data: { confirm: "Are you sure?" } do  %>
<i class="far fa-trash-alt"></i>
<% end %>
         <%# end of card-body %>
    </div>
         <%# end of card %>
      </div>
      <% end %>
    <%# end of row %>
  </div>
<%# end of container %>
<%# </div> %>
<%# <%= cl_image_tag("vw9sz8rwwr3iqadchwzq", width: 400, height: 300, crop: :fill) %>
